<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/index.css">
    <title>Searcher</title>
</head>
<body>
<div id="app">
    <main>
        <input type="text" placeholder="Recherche" v-model="searchContent">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="informations in filteredContent">
                <th>{{ informations.id }}</th>
                <th>{{ informations.name }}</th>
                <th>{{ informations.username }}</th>
                <th>{{ informations.email }}</th>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html>
